packages:
  yum:
    git: []
    postgresql14-devel: []

  commands:
    01_add_pg_repo:
      command: "yum install -y https://download.postgresql.org/pub/repos/yum/14/redhat/rhel-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
    02_disable_pg_module:
      command: "yum -qy module disable postgresql"
